@model DesignPattern.Mediator.MediatorPattern.Results.GetProductByIdQueryResult
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <label>Product Id</label>
    <input type="text" class="form-control" asp-for="ProductId" />
    <br />
    <label>Product Name</label>
    <input type="text" class="form-control" asp-for="ProductName" />
    <br />
    <label>Product Stock</label>
    <input type="text" class="form-control" asp-for="ProductStock" />
    <br />
</div>
